---
---

/* includes */
@import 'font'

/* variables */
$accent-color-1: #BB00FF
$accent-color-2: #BDFF00
$accent-color-3: #FF9D00
$small-screen: 300px
$medium-screen: 1024px
$nav-reserve-height: 4rem

html
	overflow-y: scroll

body
	padding: 0
	margin: 0 auto
	overflow-x: hidden
	font-family: Inter, sans-serif
	max-width: $medium-screen

	@media screen and (max-width: $small-screen)
		padding-left: 1rem

nav
	text-align: left
	position: fixed
	top: 0
	width: 100%
	background-color: white
	padding-top: 0.5rem
	padding-bottom: 0.5rem
	border-bottom: 1px solid black;
	max-width: $medium-screen

	.logo
		display: inline-block
		padding-right: 1rem

		a
			text-decoration: none

		img
			height: 3rem

	ul
		list-style-type: none
		margin: 0
		padding: 0
		overflow:hidden
		display: inline-block

	li
		float: left
		margin: 0 auto
		padding-left: 1rem
		padding-right: 1rem

.anchor
	display: block
	position: relative
	visibility: hidden
	top: -$nav-reserve-height

.page
	padding-top: $nav-reserve-height

#scroll-top
	transition: opacity 0.5s ease-in-out
	opacity: 0
	display: block
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 99
	font-size: 2rem
	border: none
	outline: none
	color: black
	background-color: white
	cursor: pointer
	border-radius: 100%
	width: 3rem
	height: 3rem
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.3)