---
---

/* includes */
@import 'font'

/* variables */
$accent-color-1: #BB00FF
$accent-color-2: #3AFFF5
$accent-color-3: #FCFF67
$link-color: black
$idea-color: #a46d00
$news-color: #0055dd
$team-color: #b70055
$blog-color: #3c9000
$foreground-color: #fdfdfd
$background-color: #fafafa
$min-screen: 355px
$phone-screen: 420px
$tablet-screen: 650px
$desktop-screen: 1024px
$nav-reserve-height: 5.0rem
$border-radius: 5px
$card-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25)
$font-size: 13pt
$font-size-small: 10pt
$font-size-large: 24pt
$slight-border: 1px solid white

.blog-img-left
	float: left
	width: 33%

.blog-img-right
	float: right
	width: 33%

.blog-img-full
	width: 100%


html
	overflow-y: scroll
	min-width: $min-screen

body
	padding: 0
	margin: 0
	overflow-x: hidden
	font-family: Inter, sans-serif
	background-color: $background-color
	font-size: $font-size

a
	color: $link-color
	font-weight: 400

h2
	font-weight: 300

.section-title
	width: 100%
	text-align: center
	margin: 0
	margin-top: 1.0rem
	margin-bottom: 0.75rem
	font-size: $font-size-large

	@media screen and (max-width: $phone-screen)
		margin-top: 0.5rem
		margin-bottom: 1.25rem

	> span
		padding: 0
		margin: 0

	> svg
		margin: auto
		width: 2.5rem
		height: 2.5rem
		transform: translateY(0.4rem)

	@media screen and (max-width: $phone-screen)
		font-size: 16pt

	&.idea
		color: $idea-color

	&.news
		color: $news-color

	&.team
		color: $team-color

	&.blog
		color: $blog-color

nav
	position: fixed
	padding: 0
	margin: 0
	top: 0
	width: 100%
	min-width: $min-screen
	padding-top: 0.25rem
	padding-bottom: 0.25rem
	background-color: $foreground-color
	box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25)
	border-bottom: $slight-border
	z-index: 999

	> div
		display: block
		max-width: $desktop-screen
		margin: auto
		padding: 0

		> div
			margin: auto
			padding: 0
			position: relative
			padding-left: 4.25rem // to have space for the absolute positioned icon

			@media screen and (max-width: $phone-screen)
				padding-left: 0

			.brand-icon, .brand-title, .links, .tongue
				display: inline-block

			.brand-icon // icon with link to index
				position: absolute
				left: 0.25rem
				top: 0.1rem

				@media screen and (max-width: $phone-screen)
					display: none

				img
					height: 3.3 * 1.5rem

				a
					&:hover
						border-bottom: 2px solid $accent-color-1

			.brand-title // title with link to index
				float: left
				margin: 0
				padding: 0
				padding-top: 1.5rem // TODO: hacky way for vertical alignment
				margin-right: 1.5rem
				@media screen and (max-width: $tablet-screen)
					display: none

				a
					&:hover
						border-bottom: 2px solid $accent-color-1

				img
					height: 1.5rem
					display: inline-block

			.links // links to components on home page and blog

				ul
					display: table
					margin: 0
					padding: 0
					overflow:hidden
					list-style-type: none

				li
					display: table-cell
					float: left
					text-align: center
					padding: 0.35rem
					margin-left: 0.25rem
					margin-right: 0.25rem
					border-radius: $border-radius
					transition: border-color 0.125s ease-in-out
					box-sizing: border-box
					border: 1px solid rgba(255,255,255,0)

				.idea
					a
						color: $idea-color

					&:hover
						border-color: $idea-color

				.news
					a
						color: $news-color

					&:hover
						border-color: $news-color

				.team
					a
						color: $team-color

					&:hover
						border-color: $team-color

				.blog
					a
						color: $blog-color

					&:hover
						border-color: $blog-color

				.icon // scale icons
					margin: auto

			.tongue // language switch

				float: right
				font-weight: 300
				font-size: $font-size-small
				margin-right: 1rem

				ul
					text-align: left
					display: table
					margin: 0
					padding: 0
					margin-left: 1rem
					overflow:hidden
					list-style-type: none
					border-left: 1px solid black

					@media screen and (max-width: $tablet-screen)
						margin-left: 0.5rem

				li
					margin: 0
					padding: 0.65em
					padding-right: 0rem

				a
					color: black

.footer
	text-align: center
	font-size: $font-size-small
	border-top: $slight-border
	padding-top: 1rem
	padding-bottom: 1rem
	margin-top: 2rem
	box-shadow: 0 -0.25rem 1rem lightgrey

.anchor
	display: block
	position: relative
	visibility: hidden
	top: -$nav-reserve-height

.page
	padding-top: $nav-reserve-height
	max-width: $desktop-screen
	margin: 0 auto
	padding-left: 12px
	padding-right: 12px
	overflow: hidden // otherwise floats in blog posts destroy footer

.index-text
	text-align: center

	ul
		list-style-type: none
		font-weight: 300

		li
			&:before
				content: '✧\00a0\00a0'
				color: black
				font-size: 12pt

			&:after
				content: '\00a0\00a0✧'
				color: black
				font-size: 12pt

.newsletter
	text-align: center

	> form
		> input
			font-size: $font-size

.news-cards // container
	margin: auto
	padding: 0
	text-align: center
	width: 100%
	margin-top: 0.5rem
	margin-bottom: 1rem

	> a // card
		width: 30%
		height: 15rem
		margin: 1%
		display: inline-block
		vertical-align: top
		box-shadow: $card-shadow
		border: $slight-border
		border-radius: $border-radius
		box-sizing: border-box
		background-position: center
		background-size: cover
		overflow: hidden
		position: relative

		@media screen and (max-width: $tablet-screen)
			width: 100%
			margin: 0
			margin-top: 0.5rem
			margin-bottom: 0.5rem
			padding: 0

		> .date
			font-weight: 300
			font-size:  $font-size-small
			display: inline-block
			text-align: right
			background-color: $foreground-color
			width: 100%
			line-height: 2em
			position: relative
			padding-right: 0.35rem
			box-sizing: border-box
			border-bottom: $slight-border

			> svg
				padding-right: 0.25rem
				width:  $font-size-small
				height:  $font-size-small
				transform: translateY($font-size-small / 8)

		> .link
			padding: 0.5rem
			margin-top: 0.5rem
			margin-bottom: 0.25rem
			font-weight: 300
			background-color: $foreground-color
			line-height: 1.5em
			position: absolute
			bottom: -$border-radius
			width: 100%
			border-top: $slight-border
			box-sizing: border-box
			text-decoration: underline

.idea-card
	margin-top: 1rem
	margin-bottom: 1rem
	vertical-align: top
	box-shadow: $card-shadow
	border: $slight-border
	border-radius: $border-radius
	box-sizing: border-box
	width: 100%
	display: table

	> .picture
			width: 30%
			display: table-cell
			box-sizing: border-box
			background-position: center
			background-size: cover
			overflow: hidden
			position: relative
			margin: 0
			padding: 0
			border: $slight-border

			@media screen and (max-width: $phone-screen)
				display: none

	> .content
		padding: 0.5rem
		display: table-cell
		font-weight: 300

		ul
			list-style-type: "- "

.team-cards // container
	margin: auto
	padding: 0
	text-align: center
	width: 100%
	margin-top: 1rem
	margin-bottom: 2rem

	> div // card
		margin: 0.5rem
		display: inline-block
		vertical-align: top
		box-shadow: $card-shadow
		padding: 0.75rem
		border: $slight-border
		border-radius: $border-radius
		box-sizing: border-box

		> div // portrait
			border-radius: 100%
			box-sizing: border-box
			background-position: center
			background-size: cover
			overflow: hidden
			position: relative
			width: 12rem
			height: 12rem
			margin: auto
			margin-bottom: 0.5rem
			border: $slight-border
			// border-bottom-width: 2px

			@media screen and (max-width: $desktop-screen)
				width: 10rem
				height: 10rem

			.name
				font-weight: 300
				font-size: 1.5em
				position: absolute
				width: 100%
				background-color: $foreground-color
				line-height: 1.85em
				bottom:  0
				padding-bottom: 0.2rem
				border-top: $slight-border

		.job, .email
			display: block

		.job
			font-weight: 300

		.email
			font-weight: 300
			font-size: 0.8em

// Blog / post overview
.post-cards // container
	margin: auto
	padding: 0
	width: 100%

	> div // card
		margin: 0
		padding: 0
		display: table
		box-shadow: $card-shadow
		border: $slight-border
		box-sizing: border-box
		overflow: hidden
		background-color: $foreground-color
		margin-top: 1.0rem
		margin-bottom: 1.0rem
		border: $slight-border
		border-radius: $border-radius
		width: 100%

		.preview // picture of the post
			width: 20%
			background-position: center
			background-size: cover
			display: table-cell

			@media screen and (max-width: $tablet-screen)
				width: 40%

			@media screen and (max-width: $phone-screen)
				display: none

		.content // textual content of the posrt
			display: table-cell
			padding: 1rem

			.header
				width: 100%
				display: block
				margin-bottom: 0.25rem

				> .title
					display: block
					padding-bottom: 0.25rem

				> .date
					font-weight: 300
					display: block
					font-size: $font-size-small

					> svg
						padding-right: 0.25rem
						width: $font-size-small
						height: $font-size-small
						transform: translateY($font-size-small / 8)

.post-date
	font-weight: 300

	> svg
		padding-right: 0.25rem
		width: $font-size
		height: $font-size
		transform: translateY($font-size / 8)

.post-preview
	width: 100%
	height: 20rem
	background-position: center
			background-size: cover

.post-excerpt
	font-weight: 300

#scroll-top
	transition: opacity 0.125s ease-in-out
	opacity: 0
	display: block
	position: fixed
	bottom: 20px
	right: 20px
	z-index: 99
	font-size: 2rem
	border: none
	outline: none
	color: black
	background-color: $foreground-color
	cursor: pointer
	border-radius: 100%
	width: 3rem
	height: 3rem
	box-shadow: $card-shadow
	border: $slight-border