# 404 error page
ErrorDocument 404 /404/

# Disable caching
#<IfModule mod_headers.c>
#    Header set Cache-Control "no-cache, no-store, must-revalidate"
#    Header set Pragma "no-cache"
#    Header set Expires 0
#</IfModule>

# Allow mixture of dirs with index.html and other HTML files
Options +MultiViews