---
layout: base
title: Semanux
---

<h1>
  Semanux makes the Web <em>inclusive.</em>
</h1>

Phosphor Icon Test:
<i class="ph-desktop-tower-thin" aria-hidden="true"></i>
<i class="ph-desktop-tower-light" aria-hidden="true"></i>
<i class="ph-desktop-tower" aria-hidden="true"></i>
<i class="ph-desktop-tower-bold" aria-hidden="true"></i>
<i class="ph-desktop-tower-fill" aria-hidden="true"></i>

{% include index/opener.html %}

{% include index/about.html %}

{% include index/blog_preview.html %}

{% include index/team.html %}
