/* fonts */
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans-regular.woff") format('woff');
	font-display: swap;
}
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans-bold.woff") format('woff');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans-italic.woff") format('woff');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans-bold-italic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/* font */
@font-face {
	font-family: "PTSerif";
	src: url("../fonts/ptserif-regular.woff") format('woff');
	font-display: swap;
}
@font-face {
	font-family: "PTSerif";
	src: url("../fonts/ptserif-bold.woff") format('woff');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "PTSerif";
	src: url("../fonts/ptserif-italic.woff") format('woff');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "PTSerif";
	src: url("../fonts/ptserif-bold-italic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: "PTSans", sans-serif;
	padding: 0;
	margin: 0;
	background: rgb(188,234,228);
	background: linear-gradient(0deg, rgba(188,234,228,1) 0%, rgba(222,232,230,1) 100%);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	min-width: 220px;
	overflow-x: hidden;
}

.page {
	max-width: 1024px;
	margin: auto;
}

.footer {
	margin: auto;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: -999;
	margin: auto;
	margin-bottom: 1rem;
	left: 0;
	right: 0;
	color: #4E6B5F;
}

.footer a {
	color: #4E6B5F;
}

.logo {
	padding-top: 64px;
	padding-bottom: 32px;
}

.logo img {
	width: 80%;
	max-width: 512px;
	margin: auto;
	display: block;
	animation: fadein 1s ease;
}

.flyers ul {
	text-align: center;
	list-style-type: none;
	vertical-align: bottom;
	padding: 0;
}

.flyers li {
	padding: 0;
	display: inline-block;
	padding: 1rem;
	animation: fadein 3s ease;
}

.flyers a {
	padding: 0.5rem;
	color: black;
	background-color: #FFFAC8;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid #CCAE5E;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flyers a:hover {
	background-color: #CCAE5E;
	text-decoration: underline;
}

.feather {
	vertical-align: bottom;
	height: 1.2rem;
}

@keyframes fadein {
	from { opacity: 0; transform: translateY(20px);}
	to   { opacity: 1; transform: translateY(0px);}
}