<div id="footer-wrapper">
  <footer>
    <nav id="footer-nav-socials">
      <ul>
        <li>
          <a href="#" class="facebook" title="Facebook">
            {%- include icon.html class="facebook-logo-fill" -%} Facebook
          </a>
        </li>
        <li>
          <a href="#" class="instagram" title="Instagram">
            {%- include icon.html class="instagram-logo-fill" -%} Instagram
          </a>
        </li>
        <li>
          <a href="#" class="twitter" title="Twitter">
            {%- include icon.html class="twitter-logo-fill" -%} Twitter
          </a>
        </li>
        <li>
          <a href="#" class="youtube" title="YouTube">
            {%- include icon.html class="youtube-logo-fill" -%} YouTube
          </a>
        </li>
        <li>
          <a href="#" class="github" title="GitHub">
            {%- include icon.html class="github-logo-fill" -%} GitHub
          </a>
        </li>
      </ul>
    </nav>
    <nav id="footer-nav-legal">
      <ul>
        <li><a href="/imprint">{{ site.data.misc.footer.imprint }}</a></li>
        <li><a href="/data-privacy">{{ site.data.misc.footer.data-privacy }}</a></li>
      </ul>
    </nav>
    <p id="footer-motto">{{ site.data.misc.footer.motto }}</p>
    <p id="footer-copyright">&copy; 2021 Semanux</p>
  </footer>
</div>
