<footer>
	<p>
		{{ site.data.misc.footer }}
	</p>
	<div>
		<a href="#" class="facebook" title="Facebook" >{%- include icon.html class="facebook-logo-fill" -%}</a>
		<a href="#" class="instagram" title="Instagram" >{%- include icon.html class="instagram-logo-fill" -%}</a>
		<a href="#" class="twitter" title="Twitter" >{%- include icon.html class="twitter-logo-fill" -%}</a>
		<a href="#" class="youtube" title="YouTube" >{%- include icon.html class="youtube-logo-fill" -%}</a>
		<a href="#" class="github" title="GitHub" >{%- include icon.html class="github-logo-fill" -%}</a>
	</div>
</footer>
