<footer>
	<p>
		{{ site.data.misc.footer }}
	</p>
	<div>
		<a href="#" title="Facebook" >{%- include icon.html class="facebook-logo-fill" -%}</a>
		<a href="#" title="Instagram" >{%- include icon.html class="instagram-logo-fill" -%}</a>
		<a href="#" title="Twitter" >{%- include icon.html class="twitter-logo-fill" -%}</a>
		<a href="#" title="YouTube" >{%- include icon.html class="youtube-logo-fill" -%}</a>
		<a href="#" title="GitHub" >{%- include icon.html class="github-logo-fill" -%}</a>
	</div>
</footer>
