<nav class='acryl'>
  <div> <!-- container for alignment -->
    <div> <!-- container for header contents -->
      <div class='brand-icon'>
        <a href="/"><img src='/static/semanux-icon.png' alt='TODO'></a>
      </div>
      <div class='brand-title'>
        <a href="/"><img src='/static/semanux-title.png' alt='TODO'></a>
      </div>
      <div class='links'>
        <ul>
          <li class='idea'><a href='{{site.baseurl}}/{%- if site.active_lang != site.default_lang -%}{{ site.active_lang }}/{%- endif -%}#idea'><div class='icon'><i data-feather='zap' aria-hidden='true'></i></div>{{ site.data.misc.idea.nav }}</a></li>
          <li class='news'><a href='{{site.baseurl}}/{%- if site.active_lang != site.default_lang -%}{{ site.active_lang }}/{%- endif -%}#news'><div class='icon'><i data-feather='bell' aria-hidden='true'></i></div>{{ site.data.misc.news.nav }}</a></li>
          <li class='team'><a href='{{site.baseurl}}/{%- if site.active_lang != site.default_lang -%}{{ site.active_lang }}/{%- endif -%}#team'><div class='icon'><i data-feather='users' aria-hidden='true'></i></div>{{ site.data.misc.team.nav }}</a></li>
          <li class='blog'><a href="/blog"><div class='icon'><i data-feather='pen-tool' aria-hidden='true'></i></div>{{ site.data.misc.blog.nav }}</a></li>
        </ul>
      </div>
      <div class='tongue'>
        <ul>
          {% for tongue in site.languages %}
            <li><span aria-hidden='true'>▸ </span><a name='language_switch' href='{%- if tongue == site.default_lang -%}{{site.baseurl}}{{page.url}}{%- else -%}{{site.baseurl}}/{{ tongue }}{{page.url}}{%- endif -%}'>{{ site.misc[tongue] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</nav>


