<div id="header-wrapper">
  <header>
    <a id="header-logo" href="/">
      <div>
        <!-- Even so the svg has a width and a height of zero, it takes space on the page. Setting display to none makes it no more work as clipping path. Putting it here seems to work, though. -->
        {%- include svg/logo.clip.min.svg -%}
      </div>
    </a>
    <nav id="header-nav-sections">
      <ul>
        <li><a href="/innovation">{{ site.data.misc.header.innovation }}</a></li>
        <li><a href="/blog">{{ site.data.misc.header.blog }}</a></li>
        <li><a href="/about">{{ site.data.misc.header.about }}</a></li>
      </ul>
    </nav>

    <nav id="header-nav-languages">
      <ul>
        <li>
          {%- if site.active_lang == "en" -%}
            <a {% static_href %}href="/de{{ page.url }}"{% endstatic_href %} title="{{ site.data.misc.header.tongue }}">Deutsch</a>
          {%- else -%}
            <a {% static_href %}href="{{ page.url }}"{% endstatic_href %} title="{{ site.data.misc.header.tongue }}">English</a>
          {%- endif -%}
        </li>
      </ul>
    </nav>
  </header>
</div>