<!-- TODO: Backup with anchor on top for people who have deactivated JavaScript -->
<button onclick='topFunction()' id='scroll-top' title='{{ site.data.misc.scroll-top }}'>
	{%- include icon.html class='arrow-line-up' -%}
</button>

<script type='text/javascript'>

// Get the button
var btn = document.getElementById('scroll-top');

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() { scrollFunction() };

function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		btn.style.opacity = 1;
	} else {
		btn.style.opacity = 0;
	}
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
	window.scrollTo({ top: 0, behavior: 'smooth' });
}

</script>