:root {
  font-family: $font-sans;
  font-size: $font-base-size-min / 1em * 16px;
  font-feature-settings: $font-feature-settings;
  line-height: 1.4;
  color: $color-black;
  text-rendering: optimizeLegibility;

  // TODO: Testing a slightly colored background.
  background-color: $color-background;
  background-image: linear-gradient($color-white, $color-background);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 5rem;

  @media (min-width: $breakpoint-font-base-size-min) {
    font-size: 1em / $breakpoint-font-base-size-min * 100vw;
  }

  @media (min-width: $breakpoint-font-base-size-max) {
    font-size: $font-base-size-max;
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  min-width: 18rem;
  max-width: 52rem;
  padding: 0 0.5rem;
  margin: 0 auto;
  overflow-y: scroll; // force visible vertical scrollbar

  @media (min-width: $body-min-width) {
    // Values of the breakpoint and the padding calculation are chosen so that
    // they have a smooth transition to the fixed padding value on smaller
    // screens defined above.
    padding: 0 calc(4vw - 0.5rem);
  }
}

a {
  color: $color-accent-1;
  text-decoration: none;

  &:hover {
    color: $color-black;
    text-decoration: underline;
  }
}

a,
input,
button {
  // TODO: Not required since :focus-visible is implemented?
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid $color-complement-1;
    // outline-offset: 5px;
  }

  // TODO: How to make good looking?
  &:active {
    outline: none;
  }
}

// Make outline of links have an offset. Assumption is that
// a link has often no padding, but inputs and others have
// TODO: Perhaps couple to the hover text decoration?
a:focus-visible {
  outline-offset: 3px;
}

@mixin reverse-a-hover {
  color: $color-black;

  &:hover {
    color: $color-accent-1;
    text-decoration: none;
  }
}

@mixin fill-a-hover {
  color: $color-white;
  background-color: $color-accent-1;
  background-image: $gradient-accent-1;

  &:hover {
    color: $color-accent-1;
    text-decoration: none;
    background-color: $color-white;
    background-image: $gradient-white;
    box-shadow: $box-shadow-backdrop;
  }
}

blockquote {
  padding: 0 0 0 0.5rem;
  border-left: 1rem solid $color-light-gray;

  @media (max-width: $media-phone-width) {
    padding: 0 0 0 0.25rem;
    margin: 0 0 0 0.5rem;
    border-left: 0.5rem solid $color-light-gray;
  }
}

.ordinals {
  font-size: 75%;
  vertical-align: top;
}

@mixin preview-animation {
  box-sizing: border-box;
  transition: transform 1s ease 0s;
  transform: perspective(1500px) rotateY(10deg);

  &:hover {
    transform: perspective(3000px) rotateY(5deg) scale(1.03);
  }
}

@mixin responsive-post-card-container {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: 32rem) {
    grid-template-columns: 100%;
  }
}

@mixin post-card-title {
  z-index: 1;
  padding: 0.5rem 1rem;

  @include fill-a-hover;
}
