.newsletter {

  h3 {
    margin: 0 0 0.5rem 0;
  }

  div {
    display: grid;
    grid-template-columns: auto min-content;

    input {
      padding-top: 0.5rem;
      padding-left: 0.5rem + ($roundness / 2);
      padding-bottom: 0.5rem;
      padding-right: 0.5rem;
      min-width: 0;
      background-color: $color-white;
      background-image: $gradient-white;
      border: 1px solid $color-light-gray;
      border-right: none;
      border-top-left-radius: $roundness;
      border-bottom-left-radius: $roundness;
    }

    // TODO: very similar to the titles of selectable posts in blog and post layout!
    button {
      padding: 0.5rem 1rem 0.5rem 1rem;
      cursor: pointer;
      border: none;
      // font-weight: bold;
      border-left: none;
      border-top-right-radius: $roundness;
      border-bottom-right-radius: $roundness;

      @include fill-a-hover;
    }
  }

  p {
    margin: 0.5rem 0 0 0;
    font-size: 75%;
  }
}
