.post-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto;
  justify-self: stretch;
  margin-left: 1rem;
  margin-right: 1rem;

  // Space for transform of the title.
  padding-left: 0.5rem;

  > .post-card-title {
    color: $color-white;
    background-color: $color-black;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: start;
    z-index: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translateX(-0.5rem) translateY(-0.5rem);

    &:hover {
      color: $color-accent-1;
    }
  }

  // Preview image of the other post.
  > .post-card-preview {
    background-size: cover;
    background-position: center center;

    @include preview-animation;
  }
}
