// -- Fonts --------------------------------------------------------------------

$font-sans: "Inter", sans-serif;
$font-feature-settings: "kern", "liga";

// -- Colors -------------------------------------------------------------------

$color-name-english-vermillion: #d14641; // English Vermillion
$color-name-liver-dogs: #b16309; // Liver Dogs
$color-name-avocado: #668008; // Avocado
$color-name-celadon-green: #18847b; // Celadon Green
$color-name-cg-blue: #3b7c97; // CG Blue
$color-name-middle-blue-purple: #8467b0; // Middle Blue Purple
$color-name-medium-orchid: #b241d7; // Medium Orchid
$color-name-electric-purple: #bb00ff; // Electric Purple

$color-black: black;
$color-white: white;
$color-gray: gray;
$color-light-gray: lightgray;
$color-accent-1: $color-name-cg-blue;
$color-background: rgb(238, 246, 246);
$color-image-preload: $color-light-gray; // Displayed beneath images, visible at loading
$gradient-white: linear-gradient(to bottom right, #fafafa, #ffffff);
$gradient-accent-1: linear-gradient(to bottom right, #2C5D72, #4B98B9);
$gradient-facebook: linear-gradient(to bottom right, rgb(0,97,227), rgb(0,174,255));
$gradient-instagram: linear-gradient(to bottom right, rgb(121, 0, 207), rgb(255, 142, 67));
$gradient-twitter: linear-gradient(to bottom right, rgb(0,117,178), rgb(0,155,235));
$gradient-youtube: linear-gradient(to bottom right, rgb(211,26,20), rgb(255,0,0));
$gradient-github: linear-gradient(to bottom right, rgb(68,36,116), rgb(142,30,150));

// -- Shadows ------------------------------------------------------------------

$box-shadow-backdrop: 0 0 1rem rgba(0,0,0,0.125);

// -- Sizing -------------------------------------------------------------------

$font-base-size-min: 1em;
$font-base-size-max: 1.5em;
$breakpoint-font-base-size-min: 48em;
$breakpoint-font-base-size-max: $font-base-size-max/$font-base-size-min *
  $breakpoint-font-base-size-min;

$header-gap: 2rem; // Gap between items in the header.
$roundness: 1.5rem;
$body-min-width: 25em;
$media-phone-width: 40em;
