#page-blog-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 3.5rem;
  margin-top: 1.5rem;
}

.page-blog-post {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 0.5rem;

  @media (max-width: 40rem) {
    grid-template-columns: 0% auto;
  }

  .page-blog-post-preview {
    min-height: 10rem;
    box-sizing: border-box;
    background-color: $color-light-gray;
    background-size: cover;
    background-position: center center;

    @include preview-animation;

  }

  .page-blog-post-description {
    .page-blog-post-title {
      display: block;
      font-size: 125%;
      font-weight: bold;
      border-radius: $roundness;
      transform: translateX(-1.25rem) translateY(-0.6rem);

      @include post-card-title;
    }
    
    .page-blog-post-date {
      display: block;
      text-align: right;
      transform: translateX(-1.25rem - $roundness) translateY(-0.6rem); // TODO: same transform as title, maybe put into container?
      margin-top: 0.25rem;
      line-height: 1em;
      font-size: 0.75em;
      i {
        margin-right: 0.1rem;
        vertical-align: bottom;
      }
    }
    
    .page-blog-post-excerpt {
      // font-size: medium;
      display: block;
    
      // Compensate for transform of title.
      padding-right: 1.25rem;
    }
  }
}