.page-post-heading {
  text-align: center;
}

.page-post-date {
  // Div can be centered only in container
  div {
    margin: auto;
    padding: 0.5rem;
    width: max-content;
    display: block;
    text-align: center;
    line-height: 1em;
    font-size: 0.75em;
    background-color: $color-lightest-gray;
    background-image: $gradient-glass;
    border-radius: 1rem;
    i {
      margin-right: 0.1rem;
      vertical-align: bottom;
    }
  }
}

.page-post-preview-image {
  width: 100%;
  height: 25vw;
  max-height: 15rem;
  min-height: 5rem;
  background-size: cover;
  background-position: center center;
}

.page-post-newsletter {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.page-post-further-reading-title {
  text-align: center;
}

.page-post-further-reading-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  // column-gap: 0.5rem; 
}