main {
  font-size: 0.875em;

  padding-top: 1rem;
  padding-bottom: 1rem;

  background: $color-background;

  > * {
    @include main-column;
  }

  a:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding: 0 0 0 0.5rem;
  border-left: 1rem solid $color-light-gray;

  @media (max-width: $media-phone-width) {
    padding: 0 0 0 0.25rem;
    margin: 0 0 0 0.5rem;
    border-left: 0.5rem solid $color-light-gray;
  }
}

.ordinals {
  font-size: 75%;
  vertical-align: top;
}
