{{ define "main" }}
<div class="page">

<div class="logo">
    <img src="{{.Resources.GetMatch "logo*.png"}}" alt="Semanux. Making the Web an inclusive experience.">
</div>

<div class="content">
{{.Content}}
</div>

<div class="flyers">
<ul>
    <li><a href="/semanux_en.pdf"><i data-feather="download" aria-hidden="true"></i>Infoletter (English)</a></li>
    <li><a href="/semanux_de.pdf"><i data-feather="download" aria-hidden="true"></i>Infobrief (Deutsch)</a></li>
</ul>
</div>

</div> <!-- page -->

{{ end }}
