/* includes */
@import '_font';

/* definitions */
$background-color: rgb(188,234,228);
$background-gradient: linear-gradient(0deg, rgba(188,234,228,1) 0%, rgba(222,232,230,1) 100%);
$bright-yellow: #FFFAC8;
$dark-yellow: #CCAE5E;
$dark-cyan: #4E6B5F;
$bright-cyan: rgba(222,232,230,1);
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-glow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
$border-radius: 10px;
$content-width: 600px;

/* animations */
@keyframes fadein {
	from { opacity: 0; transform: translateY(20px);}
	to   { opacity: 1; transform: translateY(0px);}
}

/* ######### */
/* selectors */
/* ######### */

body {
	font-family: $sans-fonts;
	padding: 0;
	margin: 0;
	background: $background-color;
	background: $background-gradient;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	min-width: 220px;
	overflow-x: hidden;
}

a {
	color: $dark-cyan;
}

.page {
	max-width: 1024px;
	margin: auto;
}

.content {
	max-width: $content-width;
	text-align: center;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.footer {
	margin: auto;
	text-align: center;
	margin: auto;
	margin-top: 2rem;
	left: 0;
	right: 0;
	color: $dark-cyan;
}

.logo {
	padding-top: 64px;
	padding-bottom: 32px;

	img {
		width: 80%;
		max-width: 512px;
		margin: auto;
		display: block;
	}
}

.flyers {

	ul {
		text-align: center;
		list-style-type: none;
		vertical-align: bottom;
		padding: 0;

		li {
			padding: 0;
			display: inline-block;
			padding: 1rem;

			a {
				padding: 0.5rem;
				color: black;
				background-color: $bright-yellow;
				border-radius: $border-radius;
				text-decoration: none;
				border: 1px solid $dark-yellow;
				box-shadow: $box-shadow;

				&:hover {
					background-color: $dark-yellow;
					text-decoration: underline;
				}
			}
		}
	}
}

.links {
	margin-top: 1rem;
	display: block;
	border-radius: $border-radius;
	background-color: rgba(255,255,255,0.5);
	color: black;
	padding: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0;
	text-align: left;
	box-shadow: $box-glow;
	border: 1px solid gray;

	ul {
		list-style-type: none;
		margin: 1rem;
		padding: 0;
		font-size: 10pt;
	}

	ul > li:before {
		content: '–';
		position: absolute;
		margin-left: -1.1em; 
	}
}

.separator {
	display: block;
	height: $border-radius;
	width: $content-width;
	background-color: $dark-cyan;
	border-radius: ($border-radius/2);
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
}

.feather {
	vertical-align: bottom;
	height: 1.2rem;
}