{{ define "main" }}

<div class="page">

<div class="logo">
    <a href="{{.Site.BaseURL | relLangURL }}">
    {{ with .Resources.GetMatch "logo" }}
        {{ $image := . }}
        <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}" style="animation: fadein 1s ease;">
    {{ end }}
    </a>
</div> <!-- logo -->

<div class="content" style="animation: fadein 1.5s ease;">
{{ T "welcome" }}
</div> <!-- content -->

<div class="flyers">
<ul style="animation: fadein 3s ease;">
    <li><a href="/semanux_en.pdf" role="button"><i data-feather="download" aria-hidden="true"></i>Infoletter (English)</a></li>
    <li><a href="/semanux_de.pdf" role="button"><i data-feather="download" aria-hidden="true"></i>Infobrief (Deutsch)</a></li>
</ul>
</div> <!-- flyers -->

<div class="content" style="animation: fadein 4.5s ease;">
	{{ T "cofounder" }} <a href="/semanux-co-founder.pdf">Download PDF</a>
</div> <!-- content -->

<!--
<div class="content" style="animation: fadein 5s ease;">
	<div class="separator"></div>
</div>
--> <!-- content -->

<div class="content" style="animation: fadein 8s ease;">
	<div class="gazetheweb">
		Explore prior works and projects of our team!
		<ul>
			<li>
				{{ T "link-homepage-raphael" }} <a href="https://raphaelmenges.github.io">https://raphaelmenges.github.io</a>
			</li>
			<li>
				{{ T "link-homepage-chandan" }} <a href="http://chandankumar.net">http://chandankumar.net</a>
			<li>
			<li>
				{{ T "link-resume-ramin" }} <a href="http://www.hedeshy.com/RaminHedeshy-resume.pdf">http://www.hedeshy.com/RaminHedeshy-resume.pdf</a>
			</li>
			<li>
				{{ T "link-homepage-gazetheweb" }} <a href="https://mamem.github.io/GazeTheWeb">https://mamem.github.io/GazeTheWeb</a>
			</li>
			<li>
				{{ T "link-github-gazetheweb" }} <a href="https://github.com/MAMEM/GazeTheWeb">https://github.com/MAMEM/GazeTheWeb</a>
			</li>
			<li>
				{{ T "link-video-raphael" }} <a href="https://www.youtube.com/watch?v=x1ESgaoQR9Y">https://www.youtube.com/watch?v=x1ESgaoQR9Y</a>
			</li>
		</ul>
	</div>

</div> <!-- content -->


</div> <!-- page -->

{{ end }}