{{ define "main" }}
<div class="page">

<div class="logo">
    <a href="{{.Site.BaseURL | relLangURL }}">
    {{ with .Resources.GetMatch "logo" }}
        {{ $image := . }}
        <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}">
    {{ end }}
    </a>
</div> <!-- logo -->

<div class="text">
{{ T "welcome" }}
</div> <!-- text -->

<div class="flyers">
<ul>
    <li><a href="/semanux_en.pdf" role="button"><i data-feather="download" aria-hidden="true"></i>Infoletter (English)</a></li>
    <li><a href="/semanux_de.pdf" role="button"><i data-feather="download" aria-hidden="true"></i>Infobrief (Deutsch)</a></li>
</ul>
</div> <!-- flyers -->

{{ .Scratch.Set "cofounder_pdf" "Hello" }}
<div class="text">
	{{ T "cofounder" }} <a href="/semanux-co-founder.pdf">Download PDF</a>!"
</div> <!-- text -->

</div> <!-- page -->

{{ end }}