<section id="page-index-about">
  <h2>About</h2>

  <p>
    Semanux combines hands-free interaction with artificial intelligence to make the Web inclusive for people with motor impairment.
    Browse the Web with a combined interaction of:
  </p>

  <ul>
    <li>Eye Tracking</li>
    <li>Speech Interaction</li>
    <li>Joystick</li>
    <li>Triggers</li>
    <li>Mouse</li>
    <li>Keyboard</li>
  </ul>

  <p>
    Our artificial intelligence understands the interactivity of web sites and adapts the interaction to suit your needs!
  </p>
</section>
