<a class='anchor' id='idea'></a>
<h2 class='box-title idea'>
  <i data-feather='zap' aria-hidden='true'></i>
  <span> {{ site.data.misc.idea.heading }} </span>
</h2>

<div class='box idea'>

<div class='index-text'>{{ site.data.misc.idea.intro }}</div>

<div class='idea-card'>
  <div class='picture' aria-hidden='true' role='img' style='background-image: url("{%- include func/get_image.html path='/assets/semanux-laptop' -%}"'></div>
  <div class='content'>
    {{ site.data.misc.idea.info }}
  </div>
</div>

<div class='newsletter'>
  {{ site.data.misc.idea.newsletter.info }}
  <form action=''>
    <input type='text' id='email' value='' placeholder='you@domain.com'>
    <input type='submit' value='{{ site.data.misc.idea.newsletter.submit }}'>
  </form>
</div>

</div>