<a class='anchor' id='news'></a>
<h2>News</h2>

<div class='news'>
  <ul>
  {% for post in site.posts limit:3 %}
      <li>
        {%- include func/local_date.html page=post -%}
        {%- capture preview_path -%}/assets/blog/{{ post.path | split:"/" | last | split:"." | first}}/preview{%- endcapture -%}
        <a href='{{ post.url }}'>
          <img src='{%- include func/get_image.html path=preview_path -%}' alt='{{ post.preview_alt }}'/>
          {{ post.title }}
        </a>
      </li>
  {% endfor %}
  </ul>
</div>