<a class='anchor' id='news'></a>
<h2 class='section-title'><span>{{ site.data.misc.news.heading }}</span></h2>

<div class='news'>
  {% for post in site.posts limit:3 %}
  <div>
    <div class='date'>
      <i data-feather='calendar' aria-hidden='true'></i> {%- include func/local_date.html page=post -%}</div>
      {%- capture preview_path -%}/assets/blog/{{ post.path | split:"/" | last | split:"." | first}}/preview{%- endcapture -%}
    <div class='preview' style='background-image: url("{%- include func/get_image.html path=preview_path -%}"' role='img' alt='{{ post.preview_alt }}'></div>
    <div class='link'>
      <a href='{{ post.url }}'>
        {{ post.title }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>