<a class='anchor' id='news'></a>
<h2 class='section-title'><span>{{ site.data.misc.news.heading }}</span></h2>

<div class='news-cards'>
  {% for post in site.posts limit:3 %}
  {%- capture bg_path -%}/assets/blog/{{ post.path | split:"/" | last | split:"." | first}}/preview{%- endcapture -%}
  <div style='background-image: url("{%- include func/get_image.html path=bg_path -%}"' role='img' alt='{{ post.preview_alt }}'>
    <div class='date acryl'>
      <i data-feather='calendar' aria-hidden='true'></i> {%- include func/local_date.html page=post -%}
    </div>
    <div class='link acryl'>
      <a href='{{ post.url }}'>
        {{ post.title }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<div class='index-text'>
  {{ site.data.misc.news.more }}
</div>