<a class='anchor' id='team'></a>
<h2 class='box-title team'>
  <i data-feather='users' aria-hidden='true'></i>
  <span> {{ site.data.misc.team.heading }} </span>
</h2>

<div class='box team'>

<div class='index-text'>
{{ site.data.misc.team.desc }}
</div>

<div class='team-cards'>

  <div>
    <div style='background-image: url("{%- include func/get_image.html path="/assets/team/raphael" -%}"' role='img' alt='TODO'>
      <div class='name acryl'>
        Raphael
      </div>
    </div>
    <span class='job'>{{ site.data.misc.team.job.raphael }}</span>
    <span class='email'><a href="mailto:raphael@semanux.com">raphael@semanux.com</a></span>
  </div>

  <div>
    <div style='background-image: url("{%- include func/get_image.html path="/assets/team/ramin" -%}"' role='img' alt='TODO'>
      <div class='name acryl'>
        Ramin
      </div>
    </div>
    <span class='job'>{{ site.data.misc.team.job.ramin }}</span>
    <span class='email'><a href="mailto:ramin@semanux.com">ramin@semanux.com</a></span>
  </div>

  <div>
    <div style='background-image: url("{%- include func/get_image.html path="/assets/team/lukas" -%}"' role='img' alt='TODO'>
      <div class='name acryl'>
        Lukas
      </div>
    </div>
    <span class='job'>{{ site.data.misc.team.job.lukas }}</span>
    <span class='email'><a href="mailto:lukas@semanux.com">lukas@semanux.com</a></span>
  </div>

  <div>
    <div style='background-image: url("{%- include func/get_image.html path="/assets/team/florian" -%}"' role='img' alt='TODO'>
      <div class='name acryl'>
        Florian
      </div>
    </div>
    <span class='job'>{{ site.data.misc.team.job.florian }}</span>
    <span class='email'><a href="mailto:florian@semanux.com">florian@semanux.com</a></span>
  </div>

</div>

<div class='index-text'>
{{ site.data.misc.team.support }}
<ul>
  <li>{{ site.data.misc.team.steffen }}</li>
  <li>{{ site.data.misc.team.alexander }}</li>
  <li>{{ site.data.misc.team.network }}</li>
</ul>
</div>

</div>