<section id="page-index-team">
  <h2>Team</h2>

  <p>
    We have been researching human-computer interaction and machine learning together for multiple years.
    This expertise will come together in Semanux to create a unique experience.
  </p>

  <ul>
    <li>
      <img src="/static/team/raphael.jpg" alt="Raphael"/>
      <span class="page-index-team-name">Raphael</span>
      <span class="page-index-team-role">Project Lead</span>
      <a href="mailto:raphael@semanux.com">raphael@semanux.com</a>
    </li>
    <li>
      <img src="/static/team/ramin.jpg" alt="Ramin"/>
      <span class="page-index-team-name">Ramin</span>
      <span class="page-index-team-role">Interaction Design</span>
      <a href="mailto:ramin@semanux.com">ramin@semanux.com</a>
    </li>
    <li>
      <img src="/static/team/lukas.jpg" alt="Lukas"/>
      <span class="page-index-team-name">Lukas</span>
      <span class="page-index-team-role">Machine Learning</span>
      <a href="mailto:lukas@semanux.com">lukas@semanux.com</a>
    </li>
    <li>
      <img src="/static/team/florian.jpg" alt="Florian"/>
      <span class="page-index-team-name">Florian</span>
      <span class="page-index-team-role">Administration</span>
      <a href="mailto:florian@semanux.com">florian@semanux.com</a>
    </li>
  </ul>
</section>
