<a class='anchor' id='team'></a>
<h2 class='section-title'><span>{{ site.data.misc.team.heading }}</span></h2>

{{ site.data.misc.team.desc }}

<div class='team-cards'>
  <div>
    <img src='{%- include func/get_image.html path="/assets/team/raphael" -%}' alt='TODO'/>
    <span class='name'>Raphael</span>
    <span class='job'>{{ site.data.misc.team.job.raphael }}</span>
    <span class='email'><a href="mailto:raphael@semanux.com">raphael[at]semanux.com</a></span>
  </div>
  <div>
    <img src='{%- include func/get_image.html path="/assets/team/ramin" -%}' alt='TODO'/>
    <span class='name'>Ramin</span>
    <span class='job'>{{ site.data.misc.team.job.ramin }}</span>
    <span class='email'><a href="mailto:ramin@semanux.com">ramin[at]semanux.com</a></span>
    
  </div>
  <div>
    <img src='{%- include func/get_image.html path="/assets/team/lukas" -%}' alt='TODO'/>
    <span class='name'>Lukas</span>
    <span class='job'>{{ site.data.misc.team.job.lukas }}</span>
    <span class='email'><a href="mailto:lukas@semanux.com">lukas[at]semanux.com</a></span>
    
  </div>
  <div>
    <img src='{%- include func/get_image.html path="/assets/team/florian" -%}' alt='TODO'/>
    <span class='name'>Florian</span>
    <span class='job'>{{ site.data.misc.team.job.florian }}</span>
    <span class='email'><a href="mailto:florian@semanux.com">florian[at]semanux.com</a></span>
  </div>
</div>



<div class='team-support' style='text-align: center;'>
  Supported by Prof. Dr. Steffen Staab, Prof. Dr. Alexander Brem, Marcel Werle, Dr. Chandan Kumar, Analytic Computing and Exi+ Programme / Institute for Entrepreneurship
</div>