---
layout: base
---
<h1 class="page-post-heading">{{ page.title }}</h1>

<div class="page-post-date-and-duration-container ">
  <div class="page-post-date-and-duration">
    <span>
      {%- include icon.html class="calendar-blank" -%}{%- include func/local_date.html page=page -%}
    </span>
    <span class="page-post-duration">
      {%- assign minutes = page.content | readtime -%}
      {%- if minutes < 1 -%}
        {{ site.data.misc.post.duration.less-one-minute }}
      {%- elsif minutes == 1 -%}
        {{ site.data.misc.post.duration.one-minute }}
      {%- else -%}
        {{ minutes }} {{ site.data.misc.post.duration.more-than-minute }}
      {%- endif -%}
    </span>
  </div>
  
</div>

{{ page.excerpt }}

{%- capture preview_path -%}/static/blog/{{ page.path | split:"/" | last | split:"." | first}}/preview{% endcapture %}
<div class="page-post-preview-image" style='background-image: url("{%- include func/get_image.html path=preview_path -%}");' role="img" alt="{{ page.preview_alt }}" title="{{ page.preview_alt }}"></div>

{{ page.content | remove: page.excerpt }}

<div class="page-post-newsletter">
  {%- include newsletter.html -%}
</div>

<h3 class="page-post-further-reading-title">{{ site.data.misc.post.further-reading }}</h3>
<div class="page-post-further-reading-cards">
  {%- assign posts = site.posts -%}
  {%- comment -%} Find index of this post in all posts. {%- endcomment -%}
  {%- assign idx = 0 -%}
  {%- for post in posts -%}
    {%- if post.url == page.url -%}
      {%- break -%}
    {%- else -%}
      {%- assign idx = idx | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
  {%- comment -%} Get surrounding posts (a bit hacky but working). {%- endcomment -%}
  {%- assign count = 0 -%}
  {%- assign scope = 1 -%}
  {%- for i in (1..2) -%}
    {%- comment -%} Check earlier posts. {%- endcomment -%}
    {%- assign candidate = idx | plus: scope -%}
    {%- if candidate < site.posts.size -%}
      {%- assign post = site.posts[candidate] -%}
      {%- include post-card.html post=post -%}
      {%- assign count = count | plus: 1 -%}
    {%- endif -%}
    {%- if count > 1 -%}
      {%- break -%}
    {%- endif -%}
    {%- comment -%} Check later posts. {%- endcomment -%}
    {%- assign candidate = idx | minus: scope -%}
    {%- if candidate >= 0 -%}
      {%- assign post = site.posts[candidate] -%}
      {%- include post-card.html post=post -%}
      {%- assign count = count | plus: 1 -%}
    {%- endif -%}
    {%- if count > 1 -%}
      {%- break -%}
    {%- endif -%}
    {%- comment -%} Increase scope. {%- endcomment -%}
    {%- assign scope = scope | plus: 1 -%}
  {%- endfor -%}
</div>