---
layout: base
---
<h1 id="page-post-heading">{{ page.title }}</h1>

<div id="page-post-date">
    <div>
        {%- include icon.html class="calendar-blank" -%}{%- include func/local_date.html page=page -%}
    </div>
</div>

{{ page.excerpt }}

{%- capture preview_path -%}/assets/blog/{{ page.path | split:"/" | last | split:"." | first}}/preview{% endcapture %}
<div id="page-post-preview-image" style='background-image: url("{%- include func/get_image.html path=preview_path -%}");' role="img" alt="{{ page.preview_alt }}" title="{{ page.preview_alt }}"></div>

{{ page.content | remove: page.excerpt }}

{%- include newsletter.html -%}

<div id="page-post-other-container">
    {% if page.previous %}
        <div class="page-post-other-post">
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            {%- capture preview_path -%}/assets/blog/{{ page.previous.path | split:"/" | last | split:"." | first}}/preview{% endcapture %}
            <div style='background-image: url("{%- include func/get_image.html path=preview_path -%}");' role="img" alt="{{ page.previous.preview_alt }}" title="{{ page.previous.preview_alt }}"></div>
        </div>
    {% endif %}
    {% if page.next %}
        <div class="page-post-other-post">
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
            {%- capture preview_path -%}/assets/blog/{{ page.next.path | split:"/" | last | split:"." | first}}/preview{% endcapture %}
            <div style='background-image: url("{%- include func/get_image.html path=preview_path -%}");' role="img" alt="{{ page.next.preview_alt }}" title="{{ page.next.preview_alt }}"></div>
        </div>
    {% endif %}
</div>